body {
    font-family: sans-serif;
    max-width: 500px;
    margin: auto;
    background: #eee;
    padding: 10px;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.kort {
    background: white;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    border-left: 5px solid green;
}

button {
    cursor: pointer;
}

#leggTilKnapp {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
}

.slett-knapp {
    background: red;
    color: white;
    border: none;
}
